html,
body,
#map-root,
#map {
    height: 100%;
    width: 100%;
}

#chart {
    height: 33%;
    width: 33%;
    position: absolute;
    z-index: 20;
}

.zc-ref {
  display: none;
}

.ui {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 10px 10px;
    justify-content: space-between;
    align-items: baseline;
    height: 160px;
}